@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

.mnav{
    position: relative;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
    background: white;
    top: 60px;

    flex-direction: column;
    align-items: center;
    justify-content: start;
    display: none;
}
.topline{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #0094FF;
    top: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.headerm{
    position: relative;
    width: 100%;
    height: 75px;
    background: rgba(0, 0, 0, 0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 11%;
}
.n_title{
    font-family: 'Open Sans', sans-serif;
    color: #0094FF;
}
.n_main{
    position: relative;
    width: 80%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    padding-left: 3%;
    justify-content: start;
    gap: 15px;

}
.n_pageCard {
    cursor: pointer;
    position: relative;
    width: 100%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
    transform-origin: left center;
    transition: transform 0.3s ease-in-out, color 0.1s ease-in-out; /* Добавляем плавность перехода ко всему блоку */
}

.n_pageCard:hover {
    transform: scale(1.1); /* Увеличиваем размер на 10% при наведении */
    color: #0094FF; /* Замените на цвет, который вы хотите использовать */
}

.n_pageTitle {
    position: relative;
    color: black;
    top: 5%;
    font-size: 170%;
    display: inline-block;
    transform-origin: left center;
    font-family: Inter;
    font-weight: 700;

}



.arrow {
    transition: transform 0.3s ease-in-out; /* Добавляем плавность перехода для изображения стрелки */
    transform-origin: left center;

}

.n_pageCard:hover .arrow{
    content: url('https://dev-z01.zentas.tech/img/Arrow%20102.png'); /* Замените 'путь_к_новому_изображению' на путь к новой картинке */
    color: #0094FF;
    /* Добавьте другие стили, которые вы хотите применить к изображению при наведении */
}
.n_pageCard:hover .n_pageTitle{
    color: #0094FF;
    /* Добавьте другие стили, которые вы хотите применить к изображению при наведении */
}